* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $base-font-family, sans-serif;
    font-size: $font;
    text-align: center;
    scroll-behavior: smooth;
}

section, footer {
    padding: 100px 24px;
}

@media screen and (max-width: 1024px) {
    section, footer {
        padding: 80px 42px;
    }
}

@media screen and (max-width: 768px) {
    section, footer {
        padding: 70px 24px;
    }
}

a {
    text-decoration: none;
    
    &:visited, &:link, &:active {
        color: inherit;
    }
}

.description, .chief-cooker {
    background-color: $minor-bg-color;
}
