.logo-menu {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 44px 359px 45px 372px;
}

@media screen and (max-width: 1440px) {
    .logo-menu {
        padding: 44px 118px 45px 132px;
    }
}

@media screen and (max-width: 1024px) {
    .logo-menu {
        padding: 13px 31px 13px 42px;
    }
}

@media screen and (max-width: 768px) {
    .logo-menu {
        padding: 8px 13px 8px 24px;
    }
}

@media screen and (max-width: 600px) {
    .logo-menu {
        flex-direction: column;
        padding: 8px 20px;
    }
}