.long-description {
    @include text-style(1.5rem, 300);
    max-width: 941px;
    margin: 0 auto;
    line-height: 136.6%;
}

@media screen and (max-width: 1024px) {
    .long-description {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .long-description {
        font-size: 1rem;
    }
}