@media screen and (max-width: 1440px) {
    section.photo {
    padding: 100px 12px;
    }
}

@media screen and (max-width: 1024px) {
    section.photo {
    padding: 80px 15px;
    }
}

@media screen and (max-width: 768px) {
    section.photo {
    padding: 70px 24px;
    }
}
